<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SMS Sender Form">
    <meta name="author" content="SAndrii">
    <title>SMS Sender Form</title>
    <!-- styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/my.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
  {% from "_formhelpers.html" import render_field %}
  {% block content %}
    <div class="container">
      <form action="{{ url_for('send') }}" method="POST">
      {{ form.csrf_token }}
      <h1><strong>2N Bluestar SMS Sender Form</strong></h1>
	  <h1></h1>
	  <dl>
      {{ render_field(form.number, placeholder="Phone number", list="option") }}
	    <datalist id="option">
        {% for o in opt %}
          <option value="{{ opt.get(o) }}">{{ opt.get(o) }}</option>
        {% endfor %}
        </datalist>
	  <h1></h1>
      {{ render_field(form.message, placeholder="Your message goes here") }}
      </dl>
      <div class="funkyradio-success">
        <input type="checkbox" name="checkbox" id="checkbox" />
        <label for="checkbox">Flash message</label>
      </div>
	  <h1></h1>
      <button class="button button2" type="submit"><span class="blinkme">Send SMS</span></button>
	  
      </form>
	  <h1></h1>
  {% endblock %}
    <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
        <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>  
        {% endfor %}
        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
        <div class="alert alert-success alert-dismissible">{{ success_message }}</div>           
        {% endfor %}
        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
        <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
        {% endfor %}
    <div class="footer">
      <hr>
      <p>SAndrii - szdtu - 2017</p>
    </div>
 
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>