<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="SMS Sender Form">
    <meta name="author" content="SAndrii">
    <title>SMS Sender Form</title>
    <!-- styles -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="container">
      <form action="/send" method="POST">
      <h1><strong>2N Bluestar SMS Sender Form</strong></h1>
	<div class="form-group">
	<label for="destination">Phone Number</label>
	<div class="row">
	  <div class="col-xs-3">
            <div class="input-group">
              <input id="number" class="form-control" name="number" type="tel" placeholder="Phone number" />
            </div>
	  </div>
        </div>
	<div class="form-group">
	<label for="message">Message</label>
	  <div class="row">
	    <div class="col-xs-4">
              <textarea id="message" class="form-control input-lg" name="message" placeholder="Your message goes here"></textarea>
            </div>
	  </div>
	</div>
      </div>
      <div class="funkyradio-success">
        <input type="checkbox" name="checkbox" id="checkbox" />
        <label for="checkbox">Flash message</label>
      </div>
      <button class="btn btn-success" type="submit">Send SMS</button>
      </form>
        <!-- flash messages -->
          {% for error_message in get_flashed_messages(category_filter=["error"]) %}
            
            <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
            
          {% endfor %}
 
          {% for success_message in get_flashed_messages(category_filter=["success"]) %}
  
            <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
           
          {% endfor %}
 
          {% for info_message in get_flashed_messages(category_filter=["info"]) %}
 
            <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
            
          {% endfor %}
 
    <!-- scripts -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>